body {
    font-family: verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0098D8;
}

span {
    font-style: italic;
}

#scoreboard{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    font-size: 32pt;
}

#box{
    width: 60%;
    margin: 40px auto;
    background-color: rgba(0,152,216,0.9);
    padding: 40px;
}

#box table {
    width: 100%;
    border-collapse: collapse;
}

#scoreboard th{
    text-align: left;
    color: white;
}

#scoreboard tbody td{
    padding: 10px 30px;
}

#scoreboard tbody tr:nth-child(odd){
    background-color: rgb(255,255,255);
}

#scoreboard tbody tr:nth-child(even){
    background-color: rgb(200,200,200);
}
#scoreboard tbody tr td:nth-child(3){
    text-align: right;
    font-weight: bold;
}
#scoreboard .flag{
    padding: 10px;
    position: relative;
    display: inline-block;
}
#scoreboard .flag img{
    width: 80px;
}

#scoreboard .flag .wrong, #scoreboard .flag .correct{
    background-size: contain;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 20px;
    right: 5px;
    z-index: 101;
    background-repeat: no-repeat;
    background-position: 0 0;
}
#scoreboard .flag .wrong{
    background-color: #dc1616;
    background-image:  url('../images/delete102.png');
}

#scoreboard .flag .correct{
    background-color: #338800;
    background-image:  url('../images/checked21.png');

}

#error {
    position: fixed;
    color: white;
    background-color: #dc1616;
    top:0;
    right:0;
    display: none;
    padding: 5px;
}